# Default ignored files
/shelf/
/.idea/workspace.xml
# MultiSellEditorController-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/build
/Live/
/out/
/sql/
/log/
